#Допустимые значения: Trace, Debug, Info, Warning, Error, Fatal, Panic
loglevel: Trace

src_dirs:
  - H:\TestDir
#  - S:\
# Регулярное выражение для отбора файлов
masks_pattern: 
  - '\w+_backup_(\d\d\d\d)_(\d\d)_(\d\d)_\w+.bak'
#  - 'kv_all_backup_(\d\d\d\d)_(\d\d)_(\d\d)_\w+.bak'  
exclude_masks:
  - '*.exe'
masks:
 # - '*.bak'

# Признак отправки результата работы на почту
sendEmail: false
# Email пользователя получения ошибок
toEmail: "example2@yandex.ru"

# настройки SMTP-сервера для отправки писем
settingsSMTP:
  username : "example@mail.ru"
  password : 11111
  server  : "smtp.mail.ru"
  port : 25  